
/* Estilo de botones*/
button {
  cursor: pointer;
  border-radius: 10px;
  font-size:180%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:900;
}

/* Estilo para el boton seleccionado*/
button:active {
  background-color: rgb(84, 70, 140);
}

/* Agranda botones de accion*/
.accion {
  grid-column: span 2;
}

/* Ubicacion de la calculadora*/
.calculadora{
  position: absolute;
  top: 15%;
  left: 35%;
  right: 25%;
  bottom: 25%;

}

/* Fondo de ubicacion de botones*/
.calculadoraLlaves { 
  display: grid;
  grid-template-columns: repeat(4,25%);
  grid-template-rows: repeat(5,30%);
  background-color: #8a82aa;
  padding: 30px 20px 160px;
  width: 60%;
  height: 50%;
  box-shadow: 5px 5px 10px 5px #72759f;
  justify-content:center;
  border-radius: 10px;
  
  
}

/* Estilo de dispay*/
.calculadoraDisplay{
  display: flex;
  background-color: white;
  justify-content: right;
  padding: 10px 20px 5px 20px;
  width: 60%;
  height: 25%;
  box-shadow: 5px 5px 5px 5px #72759f;
  border-radius: 10px;
  font-size:180%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight:900;

}
  
/*estilo  fondo */ 
body {
  background-color: rgb(215, 203, 150);
  margin: 0%;
}

